body {
    margin: 0;
    background-color: #0D1268;
    color: white;
}

/*Navegação*/
.navegacao {
    font-family: monospace;
    padding: 2em;
    background-color: rgb(13, 26, 65);
    position: fixed;
    width: 100%;
    opacity: 65%;
    font-size: 0.7rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: center;
    }
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transform: scale(1.1);
    transition: 0.2s;
}

nav a:hover {
    transform: scale(1.4);
}

/*main*/
main {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
}

main p{
    font-family: monospace;
    position: relative;
    top: 20px;
    left: 250px;
    font-size: 40px;
}

.estudante {
    font-family: monospace;
    position: relative;
    top: -40px;
    left: 100px;
    font-size: 30px;
}

main h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    position: relative;
    top: -10px;
}

main {
    padding: 5em;
}

/*Sobre mim*/
.container1 {
    background-color: #070936;
    padding: 5em;
}

.sobre h2 {
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1.1);
    transition: 0.2s;
}

.sobre h2:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.sobre p {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    width: 60%;
    margin: auto;
    line-height: 1.6;
}


/*Imagens que mudam*/
figure, figure img {
    display: block;
    width: 310px;
    border-radius: 130px;
    transition: border-color, box-shadow 0.2s;
}

figure:hover, figure:hover img {
    cursor: pointer;
    border-color: #0072c4;
    box-shadow: 0 0 15px #09d;
}

/*Habilidades*/
.habil h2{
    text-align: center;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1.1);
    transition: 0.2s;
}

.habil h2:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.habil h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.habil ul{
    position: relative;
    bottom: 10px;
    right: 20px;
    list-style: none;
    font-size: 20px;
    font-family: monospace;
}

.container2 {
    padding: 2em;
    list-style: none;
    text-align: center;
}

/*hobbies*/
.hobbie h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1.1);
    transition: 0.2s;
}

.hobbie h2:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.hobbie p {
    font-family: monospace;
    font-size: 20px;
    text-align: center;
    width: 60%;
    margin: auto;
    line-height: 1.6;
}

.container3 {
    padding: 4em;
    text-align: center;
    background-color: #070936;
}

/*projetos*/
.container4 {
    padding: 3em;
    text-align: center;
    align-items: center;
    background-color: #0D1268;
}

.projects h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transform: scale(1.1);
    transition: 0.2s;
}

.projects h2:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.projects h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.group-project p{
    font-family: monospace;
    font-size: 20px;
}

.group-project img {
    width: 600px;
    border: solid 5px white;
    border-radius: 5px;
}

.solo-project img {
    width: 600px;
    border: solid 5px white;
    border-radius: 5px;
}

.solo-project p{
    font-family: monospace;
    font-size: 20px;
}

.projects a{
    text-decoration: none;
    color: white;
}

.btn-project1 {
    background-color: rgb(0, 14, 77);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-family: monospace;
    transition: 0.2s; 
}

.btn-project1:hover {
    background-color: #0096c4;
}

.btn-project2 {
    background-color: rgb(0, 14, 77);
    border: none;
    border-radius: 30px;
    font-size: 20px;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-family: monospace;
    transition: 0.2s;
}

.btn-project2:hover {
    background-color: #0096c4;
}

/*Redes Sociais*/
.redes img{
    width:50px;
    padding: 2em;
    transform: scale(1.1);
    transition: 0.2s;
}

.redes img:hover {
    transform: scale(1.4);
    transition: 0.2s;
}

.redes {
    text-align: center;
    background-color: #070936;
}
/*O background dos contatos está mais abaixo*/

footer {
    background-color: #0D1268;
    padding: 1em;
    font-size: 18px;
    font-family: monospace;
}

/*Formulário de Contato*/
.cont h2{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    transform: scale(1.1);
    transition: 0.2s;
}

.cont h2:hover {
    transform: scale(1.3);
    transition: 0.2s;
}

.contato {
    background-color: #070936;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 100%;
    max-width: 32rem;
    font-size: 1.125rem;
}

.form label, .form input, .form textarea, form button{
    display: block;
    width: 100%;
}

.form label {
    font-family: monospace;
    color: rgb(255, 254, 254);
    line-height: 1;
    margin-bottom: 0.5rem;
}

.form input, .form textarea {
    font: inherit;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border: 1px solid;
    border-radius: 8px;
    transition: border-color, box-shadow 0.2s
}

.form textarea {
    min-height: 13rem;
    resize: none;
}

.form input:hover, .form input:focus, .form textarea:hover, .form textarea:focus {
    outline: none;
    border-color: #0096c4;
    box-shadow: 0 0 0 3px rgb(100, 206, 255)
}

.form button {
    display: block;
    padding: 1rem;
    background: #0096c4;
    color: white;
    font-family: monospace;
    font-size: 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.form button:hover, .form button:focus {
    background: rgb(76, 184, 247);
    outline: none;
}

.btn-form {
    position: relative;
    left: 10px;    
}

/*Obrigado page*/
.obrigado {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 150px; 
    background-color: #0D1268;
}